$colorBackGr: #220B24;
$colorBackCongrats: #07121b;
$colorTitle: #C46253;
$colorText: #FAFAFA;
$colorText2: #bd7145;

$colorPrimary: #912F68;
$colorPrimaryLight: #b04483;

$colorRoulette01: #451C73;
$colorRoulette02: #C9617C;
$colorRoulette03: #2C215D;
$colorRoulette04: #EED664;
$colorRoulette05: #5B1B5A;
$colorRoulette06: #D07541;

$colorWheel: #912F68;
$nextBtnGradient: linear-gradient(180deg, #5e3092 50%, #864dc6 100%);
$answerBtnGradient: linear-gradient(180deg, #d1d1d1 50%, #f5f5f5 100%);
$gradientImageCategory: linear-gradient(180deg,rgb(61, 151, 236)  30%, #9b224a 100%);

// $colorCard          : rgb(188, 42, 122);
$colorCard: rgb(228, 15, 24);
$colorDisable: #989898;
$colorWrong: #ef1f1f;
$colorCorrect: #35a333;
