$colorBackGr: #C46253;
$colorBackCongrats: #07121b;
$colorTitle: #C46253;
$colorText: #E3CEBD;
$colorText2: #35596B;

$colorPrimary: #C46253;
$colorPrimaryLight: #cf8074;

$colorRoulette01: #72AEA5;
$colorRoulette02: #E3CEBD;
$colorRoulette03: #8A908F;
$colorRoulette04: #DBA581;
$colorRoulette05: #B84C41;
$colorRoulette06: #8A908F;

$colorWheel: #35596B;
$nextBtnGradient: linear-gradient(180deg, #E3CEBD 50%, #bfaea0 100%);
$answerBtnGradient: linear-gradient(180deg, #E3CEBD 50%, #bfaea0 100%);
$gradientImageCategory: linear-gradient(180deg,rgb(61, 151, 236)  30%, #9b224a 100%);

// $colorCard          : rgb(188, 42, 122);
$colorCard: rgb(228, 15, 24);
$colorDisable: #989898;
$colorWrong: #ef1f1f;
$colorCorrect: #35a333;
